export SECRET_KEY_BASE=add_to_your_envrc_custom!!!
export MIX_PORT=4000
export TIDEWAVE_PORT=4001
export LIVE_DEBUGGER_PORT=4002

# Admin access and bootstrap seed
export GROWTHPUSH_ADMIN_EMAILS=admin@example.test,owner@example.test

# Postgres local
export DB_HOSTNAME=localhost
export DB_PORT=5432
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_NAME=growthpush_router_dev
export DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOSTNAME}:${DB_PORT}/${DB_NAME}"

[ -f .envrc.custom ] && source .envrc.custom
